.form {
    margin-top: 2rem;
        width: 80%;

        @include respond(tab-port){
            width: 100%;
        }
        
        & input {
            width: 100%;
            padding: 18px 20px;
            font-size: 16px;
            border-radius: .8rem;
            border: none;
            outline: none;

            &:nth-child(2){
                margin: 1.5rem 0;
            }
        }
}