.properties {
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;

    @include respond(tab-port){
        flex-direction: column;
        margin-top: 60px;
    }

    &__map {
        width: 47%;
        height: 85vh;
        flex: 0 1 calc(50% - 18px);
        background-color: rgb(235, 235, 235);
        border-radius: .8rem;
        position: absolute;
        right: 22px;
        top: 108px;
        clip-path: 0 0, 100% 0, 100% 100%, 0 100%;

        & img {
            border-radius: .8rem;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        
        @include respond(tab-port){
            display: none;
        }

    }


    &__cards {
        width: 100%;
        flex: 0 1 calc(50% - 18px);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 18px;


        & .propertie-card {
            grid-column: span 3;

            @include respond(tab-land){
                grid-column: span 6;
            }

            @include respond(tab-port){
                grid-column: span 3;
            }

            @include respond(phone){
                grid-column: span 6;
            }

            @include respond(big-desk){
                grid-column: span 2;
            }

        }
    }
}